XIN_Picture_Downloader/__pycache__
XIN_Picture_Downloader/DS_Store
XIN_Picture_Downloader/알고리즘/
XIN_Picture_Downloader/이산수학/
XIN_Picture_Downloader/자료구조/
XIN_Picture_Downloader/download/
XIN_Picture_Downloader/su.txt